:root {
  --color-green:#5DC2BD;
  --color-green-dark: #2C5E5B;
  --color-brown: #311429;
  --color-yellow: #EFE5C3;
  --color-input: rgba(255, 255, 255, 0.09);
  --color-input-over: #C92F58;
  --color-grey: #BBBBBB;

}