.container-step__content-form--quiz {
  display: flex;
  flex-direction: column; 
  gap: 10px;
}

label {
	font-size: 1.5rem;
	color: white;
	width: 100%;
	float: left;
	cursor: pointer;
	padding: 0 10px;
	box-sizing: border-box;
	background: black;
	transition: all 0.5s ease 0s;
}

label:hover {
  background: yellow;
}

input[type="radio"] {
	display: none;
}

input[type="radio"] + label {
	line-height: 3.1em;
  border-radius: 3px;
}

input[type="radio"]:disabled + label {
	color: #ccc !important;
	cursor: not-allowed;
}
input[type="radio"]:checked:disabled + label:after {
	border-color: white;
}

/* circulito */
input[type="radio"] + label:before {
	content: "";
	width: 22px; 
	height: 22px;
	float: left;
	margin-right: 0.7em;
	border: 3px solid red;
	margin-top: 0.6em;
  border-radius: 100%;
}

input[type="radio"]:checked + label {
	background: #c1eec2;
}

/* bolita dentro */
input[type="radio"]:checked + label:after {
	content: "";
	width: 0;
	height: 0;
	border: 7px solid #0fbf12;
	float: left;
	margin-left: -2.10em;
	margin-top: 1.07em;
	border-radius: 50%;
}


input[type="radio"]:checked + label:before {
	border-color: #0fbf12;
}

input[type="radio"]:checked:disabled + label {
	background: red;
	color: #fff !important;
}

input[type="radio"]:checked:disabled + label:before {
	border-color: #bdbdbd;
}


/* Submit button */
.container-step__content-form--quiz--submit
/* .button-submit */
 {
  background-color: var(--color-green);
  width: 100%;
  color: white;
  border-radius: 3px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  text-decoration: none;
  cursor: pointer;
	transition: background-color 0.3s ease;
}

.container-step__content-form--quiz--submit img {
  transition: transform 0.3s ease;
}

.container-step__content-form--quiz--submit:hover {
	background-color: var(--color-green-dark);
}

.container-step__content-form--quiz--submit:hover  img {
	transform: translateX(5px);
}

.container-step__content-form--quiz--submit  p{
  font-family: inter;
  font-size: 1.5rem;
	line-height: 20px;
  font-weight: 700;
  margin-right: 7px;
  color: white;
}