@import './reset.css';  
@import './colors.css'; 
@import "./steps.css"; 

@font-face {
  font-family: 'siroko';
  src: url('../assets/fonts/LiberatorSIROKO-Heavy.ttf') format('truetype'); 
  font-weight: 800;
  font-style: normal;
}

html body {
  height: 100%;
  font-size: 62.5%;
}

body {
  font-family: inconsolata;
  color: white;
  background-image: url("../assets/images/background.jpg");
  background-size: cover;  
  background-position: center;  
  background-repeat: no-repeat;  
  background-attachment: fixed; 
  display: flex;
  flex-direction: column;
  min-height: 100vh;  
  overflow-x: hidden;
}

/* SHOW AND HIDE STEPS*/
.hide {
  display: none;
}

.show {
  display: block;
}


header {
  margin: 25px;
}

footer {
  height: 98px;
  background-color: black;

}

footer .legal-text {
  margin: 25px;
  color: var(--color-grey);
}

footer .legal-text p {
  font-size: 1.4rem;
  line-height: 2.80rem;
}

footer .legal-text a {
  color: white;
}


