@import './reset.css';  
@import './colors.css';  

@font-face {
  font-family: 'siroko';
  src: url('../assets/fonts/LiberatorSIROKO-Heavy.ttf') format('truetype'); 
  font-weight: 800;
  font-style: normal;
}

body {
  font-family: inconsolata;
  color: white;
  background-image: url("../assets/images/background.jpg");
  background-size: cover;  
  background-position: center;  
  background-repeat: no-repeat;  
  background-attachment: fixed; 
  height: 100vh;  
}

/* SHOW AND HIDE STEPS*/
.hide {
  display: none;
}

.show {
  display: block;
}

/* HEADER */

header {
  margin: 25px;
}


/* CONTAINER STEPS */

.container-step {
  background-color: black;
}



